<html>
<head>
<title>News Headlines Curated by Collins Paul</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<form>
    <body>
        <h1>Trending News Headlines</h1>
        <input type="text" name="publication" placeholder="search" />
        <input type="submit" value="Submit" />
        </form>
<div class="articles-container">
{% for article in articles %}
<div class="article">
    <b><a href="{{article.link}}">{{article.title}}</a></b><br />
<i>{{article.published}}</i><br />
<p>{{article.summary}}</p>
</div>
{% endfor %}
</div>
</body>
</html>